<h1>Curso angular</h1>
<h3>Alumno: {{ name }}</h3>
<p *ngIf="!isAvailable; else available">Lanzamiento: 25 Dic 2018</p>

<ng-template #available>
  <span class="highlight">Curso disponible</span>
</ng-template>

<!-- property binding
  <button [disabled]='!isAvailable' [class.active]="!isAvailable"  type="button"
  name="button">Inscribirse</button>-->
<!-- ngClass -->

<!--
  use type
  *array of strings
  the use can  be with one o many classes within  the array
  [ngClass]="['active', 'shadow']"
  *with class
  the class is a property that us declared in the component, in file title.component.ts
  [ngClass]="css_classes"
  *object configuration
  [ngClass]="{active: isAvailable}"
  --->
<div>
  <button [disabled]='!isAvailable' [ngClass]="{active: isAvailable, shadow: !isAvailable}" type="button"
    name="button">Inscribirse</button>
</div>
