:host {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  display: block;
  padding: 1em;
}

:host-context(.dark) h1 {
  background: black;
  color: white;
}

button {
  border: 0;
  outline: 0;
  padding: 1em;
  font-size: 1em;

  &.active {
    background: rgb(50, 50, 100);
    color: #fff;
  }

  &:not(.active) {
    opacity: .56;
  }
}
